{% extends 'index.html' %}
{% block content %}
    <main class="main main--about">
        <p>
            Hi, I'm Sarah! I live in Seattle. Now I am pursuing a master degress in NEU. 
            I choose the Align CS program because it corresponds to my interests and goals.        
        </p>
        
        <p>
            Two main reasons drive me into the computer science world. 
            The first reason is my interest in computer science. 
            I got my Ph.D. degree at Peking University in 2020, 
            majoring in enterprise management. 
            From my Ph.D. research experiences, I realized our world is so profoundly 
            benefited from computer science, and we could achieve unlimited with it. 
            For example, when we are not familiar with a phenomenon in management research, 
            we usually need to conduct qualitative research. We need to interview hundreds or thousands 
            of different people and record their opinions. 
            The next step is to do text analysis and extract the key points. 
            Using Natural Language Processing techniques, 
            we can solve this problem with more efficiency 
            and extract the key points with great accuracy. 
            I am fascinated by such kind of advanced techniques, and I wish to learn more.
        </p>
        <p>
            The second reason is that I do not want to be far from my family. 
            I got married to my husband this year in 2020. 
            He works as a software engineer in Seattle. 
            I think this kind of transfer is right as I can still take advantage of my Ph.D. 
            experience and learn more technical skills, 
            which I have an interest in. With my expertise in conducting top-level 
            research and analyzing complex data with solid math fundamentals, 
            I have the opportunity to solve larger-scale problems by getting 
            the knowledge of computer science, especially data-related technologies.
        </p>
    </main>
{% endblock %}
